nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 95%;
  padding: 20px 0;
  margin: auto;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.3);
  z-index: 1000;
  position: fixed;
  top: 1%;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
}

nav .logo {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  padding: 0 20px;
}

nav ul li {
  display: inline-block;
  margin: 10px;
}

nav ul li .itam {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}
nav ul li .itam:hover {
  color: #3838b2;
}
nav ul li .itam:focus {
  color: #3838b2;
}

.logout {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
  outline: none;
  border: none;
  cursor: pointer;
  background: #000;
  padding: 3px 5px;
  border-radius: 10px;
}
.logout:hover {
  color: #3838b2;
}
.logout:focus {
  color: #3838b2;
}

@media (min-width: 1px) and (max-width: 549px) {
  nav .logo {
    font-size: 21px;
  }
  nav ul li .itam {
    font-size: 15px;
  }
  nav ul li {
    margin: 5px;
  }
}

@media (max-width: 350px) {
  nav ul li .itam {
    font-size: 14px;
  }
  nav ul li {
    margin: 0;
    padding: 3px;
  }
  nav .logo {
    font-size: 19px;
  }
}
