.posts {
    overflow: auto;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 600px;
    min-height: 110px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}



.postBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 600px;
    min-height: 110px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    background: rgba(255, 255, 255, 0.1);
}

.postImg {
    width: 70%;
    height: 300px;
    object-fit: cover;
}

.img {
    width: 100%;
}

.infoUser {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.userImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-weight: 700;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.postFooter {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.postFooter .postComment {
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
}

.postFooter .postComment .comment {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
}

.postFooter .postShare {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
}

.postFooter .postShare .shareButton {
    color: #fff;
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.postFooter .postShare .shareButton:hover {
    background: rgba(255, 255, 255, 0.1);
}


.verifiedBadge {
    width: 15px;
    height: 15px;
}

@media (min-width: 381px) and (max-width: 649px) {

  }
  
  @media (max-width: 380px) {

  }