.posts {
    overflow: auto;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 600px;
    min-height: 110px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    background: rgba(255, 255, 255, 0.1);
}

.postImg {
    width: 50%;
    height: 300px;
    object-fit: cover;
}

.img {
    width: 100%;
}

.infoUser {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.userImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-weight: 700;
    font-size: 17px;
}



@media (min-width: 381px) and (max-width: 649px) {

  }
  
  @media (max-width: 380px) {

  }