.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 100px;
    width: 100vw;
    overflow: hidden;
}


.post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 50px;
    margin: auto;
    overflow: hidden;
}

.postTop {
    width: 100%;
    min-height: 70vh;
    text-align: center;
    margin-bottom: 50px;
    overflow: hidden;
}

.postHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.userImg {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}
.verificationBadge {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.username {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    text-wrap: wrap;
}

.postBody {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.postDate {
    font-size: 13px;
}

.Img {
    width: 370px;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.postImg {
    width: 100%;
}

.postText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    flex-direction: column;
}


.commentsSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    align-items: flex-start;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    background: #121212;
}

.comment {
    display: flex;
    gap: 10px;
    width: 80%;
    max-width: 80%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    align-items: flex-start;
    text-decoration: none;
    color: inherit;
    align-items: center;
}

.inputComment {
    padding: 10px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    max-width: 200px;
    max-height: 50px;
    min-width: 200px;
    min-height: 50px;
    color: #fff;
}

.buttonComment {
    padding: 10px;
    outline: none;
    border: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #e9e6e6;
    cursor: pointer;
}

.formComment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    background: #121212;
}