.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    gap: 30px;
    border-radius: 8px;
    height: 50%;
}

.form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.form button:hover {
    background: var(--button-primary-hover);
}