* {
    padding: 0;
    margin: 0;
}


Body {
    background: #04041b;
    color: #fff;
    font-family: sans-serif;
    overflow-x: hidden;
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
}

.app {
    margin-top: 100px;
}