.posts {
    min-height: 60vh;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    max-width: 100vw;
    margin-top: 100px;
    padding: 50px 0;
}

.info {
    display: flex;
    align-items: self-start;
    flex-direction: column;
    gap: 10px;
    text-wrap: wrap;
}

.divImg {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    position: relative;
}

.userImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info .name {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.info .username {
    font-weight: 600;
    font-size: 15px;
}
.info .email {
    font-weight: 600;
    font-size: 15px;
}

.btns {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap
}

.btnCreate {
    padding: 8px;
    background: #121212;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.verified {
    width: 20px;
    height: 20px;
    overflow: hidden;
    display: flex;
}

.verified img {
    width: 100%;
}

.follow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.follow span {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 5px;
    color: #fff;
}

.formUpload {
    z-index: 1000;
    background: #fff;
    bottom: 0;
    right: 0;
    width: 10%;
}
.img {
    width: 20%;
}

.inputFile {
    width: 80px;
}
.edit {
    padding: 9px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}.edit:hover {
    background: rgba(255, 255, 255, 0.2);
}


@media (min-width: 381px) and (max-width: 649px) {
    .profile {
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        max-width: 100%;
        padding: 5px;
    }
    .divImg {
        width: 150px;
        height: 150px;
    }
    .info {
        gap: 10px;
    }
    .btns {
        width: 80%;
        gap: 10px;
        text-align: center;
    }
  }
  
  @media (max-width: 380px) {
    .profile {
        flex-direction: column;
        gap: 10px;
    }
    .divImg {
        width: 150px;
        height: 150px;
    }
  }
