.posts {
    min-height: 60vh;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    width: 100%;
    margin-top: 100px;
    padding: 50px 0;
}

.info {
    display: flex;
    align-items: self-start;
    flex-direction: column;
    gap: 10px;
    text-wrap: wrap;
}

.divImg {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
}

.userImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info .name {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.info .username {
    font-weight: 600;
    font-size: 15px;
}
.bio {
    width: 70%;
    text-wrap: wrap;
    text-align: center;
    margin: auto;
    padding: 5px;
}

.verified {
    width: 20px;
    height: 20px;
    overflow: hidden;
    display: flex;
}

.verified img {
    width: 100%;
}



@media (min-width: 381px) and (max-width: 649px) {
    .profile {
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        max-width: 100%;
        padding: 5px;
    }
    .divImg {
        width: 150px;
        height: 150px;
    }
    .info {
        gap: 10px;
    }
    .btns {
        width: 80%;
        gap: 10px;
        text-align: center;
    }
  }
  
  @media (max-width: 380px) {
    .profile {
        flex-direction: column;
        gap: 10px;
    }
    .divImg {
        width: 150px;
        height: 150px;
    }
  }

  .posts {
    overflow: auto;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 600px;
    min-height: 110px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}



.postBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 600px;
    min-height: 110px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    background: rgba(255, 255, 255, 0.1);
}

.postImg {
    width: 50%;
    height: 300px;
    object-fit: cover;
}

.img {
    width: 100%;
}

.infoUser {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.userImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-weight: 700;
    font-size: 17px;
}

.postFooter {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.postFooter .postComment {
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
}

.postFooter .postComment .comment {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
}

.postFooter .postShare {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
}

.postFooter .postShare .shareButton {
    color: #fff;
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.postFooter .postShare .shareButton:hover {
    background: rgba(255, 255, 255, 0.1);
}

.follow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.follow span {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 5px;
    color: #fff;
}


@media (min-width: 381px) and (max-width: 649px) {

  }
  
  @media (max-width: 380px) {

  }