.title {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
}

.container input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin: 10px;
}

.container button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin: 10px;
    cursor: pointer;
}

.container button:hover {
    background: #ccc;
}